.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

form label {
  margin-right: 10px;
}

form input[type="text"] {
  padding: 8px;
  margin-right: 10px;
}

form button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.chatroom {
  display: flex;
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: teal;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 80%;

  height: 80%;
  font-size: 1rem;
  font-weight: 500;
  background-color: beige;
  overflow-y: auto;
}

li {
  list-style: none;
}

#chat-container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#message-container {
  height: 300px;
  width: 80%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}
#message-container input {
  width: calc(100% - 80px);
}

#message-input,
button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#message-container li {
  width: max-content;
  margin: 5px;
  padding: 1px 5px;
  border-radius: 5px;
  /* text-shadow: 5px 1px 1px teal; */
  background-color: rgba(128, 128, 128, 0.133);
}

p {
  color: beige;
}

.message {
  margin-bottom: 8px;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
}

.sender {
  align-self: flex-end;
  background-color: #cce5ff28; /* Light blue */
}

.message-sender {
  font-size: 13px;
  color: beige;
}
